<?xml version="1.0" encoding="utf-8"?>
<module>
  <rawname>qcallback</rawname>
  <name>Queue Callback</name>
  <version>17.0.3.4</version>
  <publisher>Community</publisher>
  <license>GPLv3+</license>
  <licenselink>https://www.gnu.org/licenses/gpl-3.0.html</licenselink>
  <category>Applications</category>
  <menuitems>
    <qcallback needsenginedb="yes">Queue Callback</qcallback>
  </menuitems>
  <depends>
    <module>framework ge 17.0.0</module>
  </depends>
  <description>
    Provides queue callback functionality with intelligent processing.
  </description>
  <more-info>https://example.com/</more-info>
  <changelog>
    * 17.0.3.4 - Added qcb-complete dialplan context for callback completion
    * 17.0.3.3 - Fixed alternate number input maxdigits and agent-first callback variable
    * 17.0.3.2 - Fixed callback routing to use FreePBX outbound route selection
    * 17.0.3.1 Beta - Bug fixes
    * 17.0.3.0 Beta - Additions and various bug fixes and improvements
    * 17.0.2.2 Beta - Fixed bug in process_callback.php in Regex evaluation
    * 17.0.2.1 Beta - Fixed typos and bugs in agi files
    * 17.0.2 Beta - Fixed callback completion handler, changed processing interval to seconds, fixed AGI variable names
    * 17.0.1 Initial Beta release
  </changelog>
  <files>
    <file>Qcallback.class.php</file>
    <file>functions.inc.php</file>
    <file>page.qcallback.php</file>
    <file>install.php</file>
    <file>uninstall.php</file>
    <file>hooks.php</file>
    <file>page.qcallback_tab.php</file>
    <file>process_callbacks.php</file>
    <file>intelligent_callback_processor.php</file>
    <file>agi-bin/queuecallback-store.agi</file>
    <file>agi-bin/queuecallback-check.agi</file>
    <file>agi-bin/queuecallback-complete.agi</file>
    <file>agi-bin/queuecallback-result.agi</file>
    <file>views/callback_config.php</file>
    <file>views/callback_config_standalone.php</file>
    <file>views/callback_overview.php</file>
    <file>views/queue_callbacks.php</file>
    <file>views/cron.php</file>
    <file>views/bootnav.php</file>
  </files>
</module>

